.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

.App-icons {
  vertical-align: middle;
  padding: 5px;
}

.App-icons-clickable {
  vertical-align: middle;
  padding: 5px;
  color: #f7fcfd;
  font-size: 100px;
}

.Collapsible{
  background-color: #282c34;
}